USE [master]
GO
/****** Object:  Database [hms_db]    Script Date: 09-02-2022 19:59:03 ******/
CREATE DATABASE [hms_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hms_db', FILENAME = N'E:\MSSQL.MSSQLSERVER\DATA\hms_db.mdf' , SIZE = 5440KB , MAXSIZE = 204800KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hms_db_log', FILENAME = N'D:\MSSQL.MSSQLSERVER\DATA\hms_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 102400KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hms_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hms_db]
GO
/****** Object:  User [hms_admin]    Script Date: 09-02-2022 19:59:06 ******/
CREATE USER [hms_admin] FOR LOGIN [hms_admin] WITH DEFAULT_SCHEMA=[hms_admin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [hms_admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [hms_admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [hms_admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [hms_admin]
GO
/****** Object:  Schema [hms_admin]    Script Date: 09-02-2022 19:59:06 ******/
CREATE SCHEMA [hms_admin]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 09-02-2022 19:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[BusinessName] [varchar](100) NULL,
	[CategoryId] [int] NULL,
	[FoodLincNum] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[Gst] [varchar](50) NULL,
	[AccountName] [varchar](100) NULL,
	[AccountNumber] [varchar](50) NULL,
	[BankName] [varchar](100) NULL,
	[IfscCode] [varchar](100) NULL,
	[PinCode] [varchar](50) NULL,
	[RestaurentLogo] [varchar](200) NULL,
	[Signature] [varchar](200) NULL,
	[TermAndCondition] [varchar](100) NULL,
	[BankAddress] [varchar](100) NULL,
	[CodeImage] [varchar](50) NULL,
	[CodeNumber] [varchar](50) NULL,
	[CityId] [int] NULL,
	[StateId] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDAte] [datetime] NULL,
	[SubscriptionStatus] [int] NULL,
	[Contact] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[ImageUrl] [varchar](200) NULL,
	[RestaurentSeal] [varchar](200) NULL,
	[UpiImage] [varchar](200) NULL,
	[Password] [nvarchar](50) NULL,
	[UserId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessCategory]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL,
	[StateId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Business] [varchar](100) NULL,
	[CategoryId] [int] NULL,
	[CategoryName] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[Gst] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientBankDetail]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientBankDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[AccountName] [varchar](100) NULL,
	[AccountNumber] [int] NULL,
	[BankName] [varchar](100) NULL,
	[IfscCode] [varchar](100) NULL,
	[Address] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientCategory]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dish]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dish](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](100) NULL,
	[HalfPrice] [int] NULL,
	[FullPrice] [int] NULL,
	[HotelId] [int] NULL,
	[MainCategoryId] [int] NULL,
	[IsVeg] [bit] NULL,
	[TimeForCook] [int] NULL,
	[NonVegCategory] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[status] [varchar](100) NULL,
	[ImageUrl] [varchar](200) NULL,
	[files] [varchar](200) NULL,
	[IsFull] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishCategory]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL,
	[HotelId] [int] NULL,
	[gstCompliance] [int] NULL,
	[status] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishOrder]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryTotal] [decimal](18, 0) NULL,
	[GrossTotal] [decimal](18, 0) NULL,
	[ItemCount] [decimal](18, 0) NULL,
	[ItemTotal] [decimal](18, 0) NULL,
	[AdminId] [int] NULL,
	[DeliveryOptionId] [int] NULL,
	[PaymentMode] [int] NULL,
	[UserId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[IsActive] [bit] NULL,
	[DiscountInPercent] [float] NULL,
	[DiscountInRupees] [float] NULL,
	[AdditionalAmount] [float] NULL,
	[GstTotal] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelTable]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL,
	[Seat] [int] NULL,
	[IsAc] [bit] NULL,
	[Shape] [varchar](100) NULL,
	[BarcodeTest] [varchar](100) NULL,
	[IsBooked] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [numeric](18, 0) NULL,
	[GstCompliance] [numeric](18, 0) NULL,
	[GstPrice] [numeric](18, 0) NULL,
	[IsFull] [bit] NULL,
	[OrderID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[GstTotal] [numeric](18, 0) NULL,
	[KotPrinted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[Status] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTable]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTable](
	[OrderId] [int] NOT NULL,
	[TableId] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserConfig]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserConfig](
	[UserName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[CityId] [int] NULL,
	[StateId] [int] NULL,
	[PinCode] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Contact] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFeedback]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFeedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Rating] [int] NULL,
	[OpinionText] [varchar](100) NULL,
	[ReviewTitle] [varchar](100) NULL,
	[TermsAccept] [bit] NULL,
	[TimeStamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [date] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [date] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](50) NULL,
	[UserType] [int] NULL,
	[UserName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[CityId] [int] NULL,
	[StateId] [int] NULL,
	[PinCode] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [hms_admin].[Hotel]    Script Date: 09-02-2022 19:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hms_admin].[Hotel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Name] [varchar](100) NULL,
	[Size] [int] NULL,
	[IsAc] [bit] NULL,
	[Shape] [varchar](100) NULL,
	[BarcodeTest] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[BusinessCategory] ON 

INSERT [dbo].[BusinessCategory] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name]) VALUES (34, 1, CAST(N'2021-11-27T14:43:13.257' AS DateTime), 102, CAST(N'2021-11-27T14:43:13.257' AS DateTime), 102, N'Restaurent')
SET IDENTITY_INSERT [dbo].[BusinessCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[CityMaster] ON 

INSERT [dbo].[CityMaster] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [StateId]) VALUES (1, 1, NULL, NULL, NULL, NULL, N'Mumbai', 1)
INSERT [dbo].[CityMaster] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [StateId]) VALUES (2, 1, NULL, NULL, NULL, NULL, N'Thane', 1)
INSERT [dbo].[CityMaster] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [StateId]) VALUES (3, 1, NULL, NULL, NULL, NULL, N'Navimumbai', 1)
SET IDENTITY_INSERT [dbo].[CityMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Dish] ON 

INSERT [dbo].[Dish] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [Description], [HalfPrice], [FullPrice], [HotelId], [MainCategoryId], [IsVeg], [TimeForCook], [NonVegCategory], [Quantity], [status], [ImageUrl], [files], [IsFull]) VALUES (134, 1, CAST(N'2021-11-25T16:30:11.910' AS DateTime), 102, CAST(N'2021-11-25T16:30:11.910' AS DateTime), 102, N'Veg Briyani', N'Veg Briyani special', 100, 180, 0, 77, 1, 25, NULL, 1, N'active', N'https://hmsdocuments.s3.us-east-2.amazonaws.com/102/img-menu-placeholder.jpg2021-11-25T11:00:11', NULL, 1)
INSERT [dbo].[Dish] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [Description], [HalfPrice], [FullPrice], [HotelId], [MainCategoryId], [IsVeg], [TimeForCook], [NonVegCategory], [Quantity], [status], [ImageUrl], [files], [IsFull]) VALUES (135, 1, CAST(N'2021-12-01T23:01:24.930' AS DateTime), 111, CAST(N'2021-12-01T23:01:24.930' AS DateTime), 111, N'Chicken Biryani', N'Chicken Biryani', 105, 210, 0, 87, 0, 20, N'chicken', 1, N'active', N'https://hmsdocuments.s3.us-east-2.amazonaws.com/111/chicken biryani.jpg2021-12-01T17:31:24', NULL, 1)
INSERT [dbo].[Dish] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [Description], [HalfPrice], [FullPrice], [HotelId], [MainCategoryId], [IsVeg], [TimeForCook], [NonVegCategory], [Quantity], [status], [ImageUrl], [files], [IsFull]) VALUES (138, 1, CAST(N'2021-12-02T00:04:41.257' AS DateTime), 111, CAST(N'2021-12-02T00:04:41.257' AS DateTime), 111, N'Mutton Family Pack', N'Mutton Family Pack', 290, 580, 0, 87, 0, 25, N'mutton', 1, N'active', N'https://hmsdocuments.s3.us-east-2.amazonaws.com/111/Mutton family pack.jpg2021-12-01T18:34:41', NULL, 1)
SET IDENTITY_INSERT [dbo].[Dish] OFF
GO
SET IDENTITY_INSERT [dbo].[DishCategory] ON 

INSERT [dbo].[DishCategory] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [HotelId], [gstCompliance], [status]) VALUES (76, 1, CAST(N'2021-11-25T16:28:07.363' AS DateTime), 102, CAST(N'2021-11-25T16:28:07.363' AS DateTime), 102, N'Starter', 0, 6, N'active')
INSERT [dbo].[DishCategory] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [HotelId], [gstCompliance], [status]) VALUES (77, 1, CAST(N'2021-11-25T16:28:24.113' AS DateTime), 102, CAST(N'2021-11-25T16:28:24.113' AS DateTime), 102, N'Main Course', 0, 5, N'active')
INSERT [dbo].[DishCategory] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [HotelId], [gstCompliance], [status]) VALUES (87, 1, CAST(N'2022-02-01T17:16:17.167' AS DateTime), 111, CAST(N'2022-02-01T17:16:17.167' AS DateTime), 111, N'Biryani', 0, 5, N'active')
SET IDENTITY_INSERT [dbo].[DishCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[DishOrder] ON 

INSERT [dbo].[DishOrder] ([Id], [DeliveryTotal], [GrossTotal], [ItemCount], [ItemTotal], [AdminId], [DeliveryOptionId], [PaymentMode], [UserId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [IsActive], [DiscountInPercent], [DiscountInRupees], [AdditionalAmount], [GstTotal]) VALUES (450, CAST(0 AS Decimal(18, 0)), CAST(636 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(669 AS Decimal(18, 0)), 0, 3, 0, 111, CAST(N'2021-12-02T00:44:06.887' AS DateTime), 111, CAST(N'2021-12-02T00:44:06.887' AS DateTime), 111, 1, 10, 66, 0, CAST(33.45 AS Decimal(5, 2)))
INSERT [dbo].[DishOrder] ([Id], [DeliveryTotal], [GrossTotal], [ItemCount], [ItemTotal], [AdminId], [DeliveryOptionId], [PaymentMode], [UserId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [IsActive], [DiscountInPercent], [DiscountInRupees], [AdditionalAmount], [GstTotal]) VALUES (452, CAST(0 AS Decimal(18, 0)), CAST(599 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(570 AS Decimal(18, 0)), 0, 2, 0, 111, CAST(N'2021-12-02T00:50:40.497' AS DateTime), 111, CAST(N'2021-12-02T00:50:40.497' AS DateTime), 111, 1, 0, 0, 0, CAST(28.50 AS Decimal(5, 2)))
INSERT [dbo].[DishOrder] ([Id], [DeliveryTotal], [GrossTotal], [ItemCount], [ItemTotal], [AdminId], [DeliveryOptionId], [PaymentMode], [UserId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [IsActive], [DiscountInPercent], [DiscountInRupees], [AdditionalAmount], [GstTotal]) VALUES (454, CAST(0 AS Decimal(18, 0)), CAST(599 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(570 AS Decimal(18, 0)), 0, 2, 0, 111, CAST(N'2021-12-02T00:58:40.253' AS DateTime), 111, CAST(N'2021-12-02T00:58:40.253' AS DateTime), 111, 1, 0, 0, 0, CAST(28.50 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[DishOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[HotelTable] ON 

INSERT [dbo].[HotelTable] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [Seat], [IsAc], [Shape], [BarcodeTest], [IsBooked]) VALUES (27, 1, CAST(N'2021-12-02T22:09:40.927' AS DateTime), 102, CAST(N'2021-12-02T22:09:40.927' AS DateTime), 102, N'Table-1', 4, 1, N'square', NULL, 0)
INSERT [dbo].[HotelTable] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [Seat], [IsAc], [Shape], [BarcodeTest], [IsBooked]) VALUES (28, 1, CAST(N'2021-12-02T22:09:59.353' AS DateTime), 102, CAST(N'2021-12-02T22:09:59.353' AS DateTime), 102, N'Table-2', 6, 0, N'square', NULL, 0)
INSERT [dbo].[HotelTable] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [Seat], [IsAc], [Shape], [BarcodeTest], [IsBooked]) VALUES (30, 1, CAST(N'2022-01-15T17:06:11.517' AS DateTime), 113, CAST(N'2022-01-15T17:06:11.517' AS DateTime), 113, N'table1', 10, 1, N'circle', NULL, 0)
SET IDENTITY_INSERT [dbo].[HotelTable] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [Quantity], [ProductId], [Price], [GstCompliance], [GstPrice], [IsFull], [OrderID], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [GstTotal], [KotPrinted]) VALUES (597, 1, 134, CAST(180 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(9 AS Numeric(18, 0)), 1, 456, 1, CAST(N'2021-12-04T21:40:18.743' AS DateTime), 0, CAST(N'2021-12-04T21:40:18.743' AS DateTime), 0, CAST(0 AS Numeric(18, 0)), 0)
INSERT [dbo].[OrderItem] ([Id], [Quantity], [ProductId], [Price], [GstCompliance], [GstPrice], [IsFull], [OrderID], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [GstTotal], [KotPrinted]) VALUES (598, 1, 134, CAST(180 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(9 AS Numeric(18, 0)), 1, 457, 1, CAST(N'2021-12-04T21:56:38.430' AS DateTime), 0, CAST(N'2021-12-04T21:56:38.430' AS DateTime), 0, CAST(0 AS Numeric(18, 0)), 0)
INSERT [dbo].[OrderItem] ([Id], [Quantity], [ProductId], [Price], [GstCompliance], [GstPrice], [IsFull], [OrderID], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [GstTotal], [KotPrinted]) VALUES (599, 1, 134, CAST(100 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), 0, 457, 1, CAST(N'2021-12-04T21:56:38.430' AS DateTime), 0, CAST(N'2021-12-04T21:56:38.430' AS DateTime), 0, CAST(0 AS Numeric(18, 0)), 0)
GO
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([Id], [OrderId], [Status], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (625, 456, 1, 1, CAST(N'2021-12-04T21:40:18.750' AS DateTime), 0, CAST(N'2021-12-04T21:40:18.750' AS DateTime), 0)
INSERT [dbo].[OrderStatus] ([Id], [OrderId], [Status], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (626, 457, 1, 1, CAST(N'2021-12-04T21:56:38.430' AS DateTime), 0, CAST(N'2021-12-04T21:56:38.430' AS DateTime), 0)
INSERT [dbo].[OrderStatus] ([Id], [OrderId], [Status], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (1625, 1456, 1, 1, CAST(N'2021-12-04T22:20:37.947' AS DateTime), 0, CAST(N'2021-12-04T22:20:37.947' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderTable] ON 

INSERT [dbo].[OrderTable] ([OrderId], [TableId], [Id], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (1456, 28, 84, 102, 0, CAST(N'2021-12-04T22:20:39.083' AS DateTime), CAST(N'2021-12-04T22:20:39.083' AS DateTime))
INSERT [dbo].[OrderTable] ([OrderId], [TableId], [Id], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (1551, 32, 85, 111, 0, CAST(N'2022-01-13T12:07:11.303' AS DateTime), CAST(N'2022-01-13T12:07:11.303' AS DateTime))
INSERT [dbo].[OrderTable] ([OrderId], [TableId], [Id], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (1552, 32, 86, 111, 0, CAST(N'2022-01-13T12:07:15.333' AS DateTime), CAST(N'2022-01-13T12:07:15.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderTable] OFF
GO
SET IDENTITY_INSERT [dbo].[StateMaster] ON 

INSERT [dbo].[StateMaster] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name]) VALUES (1, 1, NULL, NULL, NULL, NULL, N'Maharashtra')
INSERT [dbo].[StateMaster] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name]) VALUES (2, 1, NULL, NULL, NULL, NULL, N'Goa')
INSERT [dbo].[StateMaster] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name]) VALUES (3, 1, NULL, NULL, NULL, NULL, N'Gujarat')
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserFeedback] ON 

INSERT [dbo].[UserFeedback] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Rating], [OpinionText], [ReviewTitle], [TermsAccept], [TimeStamp]) VALUES (1030, 1, CAST(N'2021-12-02T13:55:11.540' AS DateTime), 115, CAST(N'2021-12-02T13:55:11.540' AS DateTime), 115, 5, N'', N'best title', 0, CAST(N'2021-12-02T08:25:10.197' AS DateTime))
INSERT [dbo].[UserFeedback] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Rating], [OpinionText], [ReviewTitle], [TermsAccept], [TimeStamp]) VALUES (1031, 1, CAST(N'2021-12-20T16:12:35.890' AS DateTime), 1127, CAST(N'2021-12-20T16:12:35.890' AS DateTime), 1127, 2, N'asdasds', N'sadad', 0, CAST(N'2021-12-20T10:42:35.107' AS DateTime))
INSERT [dbo].[UserFeedback] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Rating], [OpinionText], [ReviewTitle], [TermsAccept], [TimeStamp]) VALUES (1032, 1, CAST(N'2021-12-23T17:50:28.497' AS DateTime), 113, CAST(N'2021-12-23T17:50:28.497' AS DateTime), 113, 4, N'', N'', 0, CAST(N'2021-12-23T12:20:27.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserFeedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [UserType], [UserName], [Email], [Contact], [Password], [Address], [CityId], [StateId], [PinCode]) VALUES (100, 1, CAST(N'2021-11-25' AS Date), 0, CAST(N'2021-11-25' AS Date), 0, N'firstTest', 2, N'fTest', N'fTest@gmail.com', N'8754213654', N'Test@123', NULL, 0, 0, NULL)
INSERT [dbo].[Users] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [UserType], [UserName], [Email], [Contact], [Password], [Address], [CityId], [StateId], [PinCode]) VALUES (21, 1, NULL, NULL, NULL, NULL, N'Yaqub', 1, N'yaqub', N'yaqub@gmail.com', N'9769787788', N'YAQ$567', NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Name], [UserType], [UserName], [Email], [Contact], [Password], [Address], [CityId], [StateId], [PinCode]) VALUES (102, 1, CAST(N'2022-02-05' AS Date), 0, CAST(N'2022-02-05' AS Date), 0, NULL, 0, NULL, NULL, NULL, N'Admin@123', NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
